

.homeWrapper{
  display: flex;
  justify-content: start;
  .menuWrapper{
    background: #f5f5f5;
    height: calc(100vh - 60px);
    overflow: scroll;
    .sliderBar{
      font-size: 14px;
      width: 330px;
      background: #f5f5f5;
      SubMenu{
        background: #f5f5f5;
      }
    }
  }
  .detailPage{
  }
}


.topNav{
  height: 60px;
  border-bottom: 1px solid #ddd;
  position: relative;
  >span{
    display: inline-block;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
  }
  .userInfo{
    position: absolute;
    right: 50px;
    top: 0;
    height: 100%;
    span{
      font-size: 13px;
      display: inline-block;
      vertical-align: center;
      line-height: 60px;
    }
    a{
      font-size: 13px;
      color: #46a1ff;
      &:hover{
        cursor: pointer;
      }
    }
  }
}